.imageContainer {
    position: relative;
    margin: 0 auto;
}

.imageContainer .overImage {
    position: absolute;
    text-align: left;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    padding: 7px 15px 15px;
}
