anyio==3.3.4
asgiref==3.4.1
blis==0.7.5
catalogue==2.0.6
certifi==2021.10.8
charset-normalizer==2.0.7
click==8.0.3
colorama==0.4.4
cymem==2.0.6
dnspython==2.1.0
email-validator==1.1.3
en-core-web-sm==3.2.0
fastapi==0.70.0
filelock==3.4.0
ftfy==6.0.3
h11==0.12.0
httptools==0.2.0
huggingface-hub==0.1.2
idna==3.3
importlib-metadata==4.8.2
itsdangerous==2.0.1
Jinja2==3.0.3
joblib==1.1.0
langcodes==3.3.0
MarkupSafe==2.0.1
msgpack==1.0.2
murmurhash==1.0.6
numpy==1.21.4
orjson==3.6.4
packaging==21.2
pathy==0.6.1
preshed==3.0.6
pydantic==1.8.2
pyparsing==2.4.7
python-dotenv==0.19.2
python-multipart==0.0.5
PyYAML==5.4.1
regex==2021.11.10
requests==2.26.0
sacremoses==0.0.46
sentencepiece==0.1.96
six==1.16.0
smart-open==5.2.1
sniffio==1.2.0
spacy==3.2.0
spacy-legacy==3.0.8
spacy-loggers==1.0.1
srsly==2.4.2
starlette==0.16.0
thinc==8.0.13
tokenizers==0.10.3
torch==1.10.0
tqdm==4.62.3
transformers==4.12.5
typer==0.4.0
typing-extensions==3.10.0.2
ujson==4.2.0
urllib3==1.26.7
uvicorn==0.15.0
wasabi==0.8.2
watchgod==0.7
wcwidth==0.2.5
websockets==10.1
wordfreq==2.5.1
zipp==3.6.0
